@model IEnumerable<GoGaming.Models.JuegoViewModel>

@{
    ViewBag.Title = "Juegos Buscados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Juegos Buscados</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Generos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Portada)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Generos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <img height="60" width="100 " src="@Html.DisplayFor(modelItem => item.Portada)" />
            </td>
            <td>
                @Html.ActionLink("Detalle", "DetallesDesdeBuscador", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<div class="text-center">

    <br />
    <h3 align="center">Buscador de Juegos</h3>

    @using (Html.BeginForm("Buscar", "Juego", FormMethod.Post, null))
    {
        <div class="form-inline" align="center">
            <div class="form-group pl-2">
                <input type="search" class="form-control" id="text" name="nom" placeholder="Introduce un juego...">
            </div>
            <button type="submit" class="btn btn-primary" style="color:#FFFFFF"> <span class="glyphicon glyphicon-search"></span> Buscar</button>

        </div>

        <br />
    }
</div>


