@model GoGaming.Models.JuegoViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>JuegoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Portada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Portada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Generos)
        </dt>

        <dd>
            @{
                var generos = Model.Generos;
                var genNombres = (string[])ViewData["nombresGenero"];
                var first = false;
            }
            <div>
                @for (var i = 0; i < (int)ViewData["numGeneros"]; i++)
                {
                    if (generos[i] && i > 0)
                    {
                        if (!first)
                        {
                            @genNombres[i];
                            first = true;
                        }
                        else
                        {
                            var aux = ", ";
                            @aux;
                            @genNombres[i];
                        }
                    }

                }
            </div>

        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
