@model GoGaming.Models.JuegoViewModel

@{
    ViewBag.Title = "Detalle Juego";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sobre el juego</h2>

<div class="card w-50 jumbotron" style="background-color: #222222 ">
    <img class="card-img-top img-responsive center-block" src="@Html.DisplayFor(model => model.Portada)" alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title"> @Html.DisplayFor(model => model.Nombre)</h2>
        <h4 class="card-text"> @Html.DisplayFor(model => model.Descripcion)</h4>
        @{
            var generos = Model.Generos;
            var genNombres = (string[])ViewData["nombresGenero"];
            var first = false;
        }

        @for (var i = 0; i < (int)ViewData["numGeneros"]; i++)
        {
            if (generos[i])
            {
                if (!first)
                {
                    @genNombres[i];
                    first = true;
                }
                else
                {
                    var aux = ", ";
                    @aux;
                    @genNombres[i];
                }
            }

        }
        <br /><br />
        <div class="text-right">
            @Html.ActionLink("Guardar", "Details", new { id = Model.Id }, new { @class = "btn btn-primary stretched-link ", role = "button" })
        </div>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Atrás", "Index")
    </div>
</div>

@*<div>
    <h4>Juego</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Portada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Portada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Generos)
        </dt>

        <dd>
            @{
                var generos = Model.Generos; 
                var genNombres = (string[])ViewData["nombresGenero"];
                var first = false;
             }
            <div>
                @for (var i = 0; i < (int)ViewData["numGeneros"]; i++)
                {
                    if (generos[i])
                    {
                        if (!first)
                        {
                            @genNombres[i];
                            first = true;
                        }
                        else
                        {
                            var aux = ", ";
                            @aux;
                            @genNombres[i];
                        }
                    }

                }
            </div>
            
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Atrás", "Index")
</p>*@
