@model IEnumerable<GoGaming.Models.JuegoViewModel>

@{
    ViewBag.Title = "Juegos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Juegos más recientes</h2>

<p>
    @Html.ActionLink("Crear Nuevo Juego", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Generos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Portada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @{
                var generos = item.Generos;
                var genNombres = (string[])ViewData["nombresGenero"];
                var first = false;
            }
            
                @for (var i = 0; i < (int)ViewData["numGeneros"]; i++)
                {
                    if (generos[i])
                    {
                        if (!first)
                        {
                            @genNombres[i];
                            first = true;
                        }
                        else
                        {
                            var aux = ", ";
                            @aux;
                            @genNombres[i];
                        }
                    }

                }
        </td>
        <td>
            <img height="60" width="100 " src="@Html.DisplayFor(modelItem => item.Portada)" />
        </td>
        <td>
            @Html.ActionLink("Crear Comunidad", "../Comunidad/Create", new { id = item.Id }) |
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalle", "Details", new { id = item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
