@model GoGaming.Models.PostViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>@Html.DisplayFor(model => model.Titulo)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Publicado por ")
        </dt>

        <dd>
            @Html.ActionLink(Model.UsuarioName, "../Usuario/Details/", new { id = Model.Usuario })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contenido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenido)
        </dd>


        @if (Model.Imagen != "")
        {
            <dt>
                @Html.DisplayNameFor(model => model.Imagen)
            </dt>
            <dd>
                <img src="/Images/@Html.DisplayFor(model => model.Imagen)" />
            </dd>
        }


    </dl>
    <h4>Comentarios</h4>
    @{ Html.RenderAction("CreatePartial", "Comentario", new { p_usuario = Model.Usuario, p_post = Model.Id });}
    @{Html.RenderAction("IndexPartial", "Comentario", new { id = Model.Id });}
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver", "../Comunidad/Details/", new { id = Model.Comunidad})
</p>
