@model GoGaming.Models.PostViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PostViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contenido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagen)
        </dd>

    </dl>
    @{Html.RenderAction("IndexPartial", "Comentario", new { id = Model.Id });}
</div>
@section Scripts{
    <script>
        window.onload = function () {
            aux = document.getElementsByTagName('footer');
            aux2 = document.getElementsByClassName('navbar');
            cont = aux.length - 1;
            for (var i = 0; i < cont; i++) {
                aux[0].parentNode.removeChild(aux[0]);
                aux2[cont - i].parentNode.removeChild(aux2[cont - i]);
            }
        };
    </script>
    
    }

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
