@model GoGaming.Models.PostViewModel

@using PracticaDSMGenNHibernate.EN.DSMPracticas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    int idUsuario = -1;
    if(Session["Usuario"] != null) {
        idUsuario = ((UsuarioEN)Session["Usuario"]).Id;
    }
}
<div>
    <h4>@Html.DisplayFor(model => model.Titulo)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Publicado por ")
        </dt>

        <dd>
            @Html.ActionLink(Model.UsuarioName, "../Usuario/Details/", new { id = Model.Usuario })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contenido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Likes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Likes)
        </dd>



        @if (Model.Imagen != "")
        {
            <dt>
                @Html.DisplayNameFor(model => model.Imagen)
            </dt>
            <dd>
                <img src="/Images/@Html.DisplayFor(model => model.Imagen)" />
            </dd>
        }
        @if (idUsuario != -1)
        {
            if (ViewData["liked"] != null)
            {
                if ((bool)ViewData["liked"])
                {
                    @Html.ActionLink("Dislike", "Interact", new { id = Model.Id });
                }
                else
                {
                    @Html.ActionLink("Like", "Interact", new { id = Model.Id });
                }
            }
        }
    </dl>
    @if (idUsuario != -1 && idUsuario == Model.Usuario)
    {
        @Html.ActionLink("Editar post", "Edit", new { id = Model.Id });
    }
    <h4>Comentarios</h4>
    @{ Html.RenderAction("CreatePartial", "Comentario", new { p_usuario = Model.Usuario, p_post = Model.Id });}
    @{Html.RenderAction("IndexPartial", "Comentario", new { id = Model.Id });}
</div>

<p>
    @Html.ActionLink("Volver", "../Comunidad/Details/", new { id = Model.Comunidad})
</p>
