@model IEnumerable<GoGaming.Models.PostViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{
    IList<string> enums = (IList<string>)ViewData["enum"];
}

@foreach (var item in Model)
{
    <div  onclick="window.location = '/Post/Details/@item.Id'">
        <h3>@Html.DisplayFor(modelItem => item.Titulo)</h3>
        <p>Publicado por: @Html.ActionLink(item.UsuarioName, "../Usuario/Details/", new { id = item.Usuario })</p>
        <p class="control-label">Categoría: @enums[item.Categoria]</p>
        <p>@Html.DisplayFor(modelItem => item.Contenido)</p>
        @if(item.Imagen != "") { 
            <img src="/Images/@Html.DisplayFor(modelItem => item.Imagen)" />
        }
        <p>❤ @Html.DisplayFor(modelItem => item.Likes)</p>
        <p>💬 @Html.DisplayFor(modelItem => item.Comentarios)</p>
    </div>
}