@model IEnumerable<GoGaming.Models.PostViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@{ 
    IList<string> enums = (IList<string>)ViewData["enum"];
    IList<int> numComentarios = (IList<int>)ViewData["enum"];
    int i = 0;
}

@foreach (var item in Model)
{
<div>
    <h3>@Html.DisplayFor(modelItem => item.Titulo)</h3>
    <p class="control-label">Categoría: @enums[item.Categoria - 1]</p>
    <p>@Html.DisplayFor(modelItem => item.Contenido)</p>
    <img src="@Html.DisplayFor(modelItem => item.Imagen)" />
    <p>❤ @Html.DisplayFor(modelItem => item.Likes)</p>
    <a>💬 @numComentarios[i]</a>
</div>
    @{i++}
}

   