@model GoGaming.Models.UsuarioViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Perfil de @Model.Nickname</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <img src="Images/@Model.Foto"/>
    </dl>
    <div>
        @ViewData["seguidores"]
        @Html.ActionLink("Seguidores", "Seguidores", new { id = Model.Id })
    </div>
    <div>
        @ViewData["seguidos"]
        @Html.ActionLink("Seguidos", "Seguidos", new { id = Model.Id })
    </div>
    
</div>

@{ Html.RenderAction("IndexPartial", "Juego", new { id = Model.Id });}
@{ Html.RenderAction("IndexPartial", "Comunidad", new { id = Model.Id });}

