@model GoGaming.Models.ComentarioViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderAction("DetailsPartial", "Post", new { id = Model.Post });}
<div>
    @{ Html.RenderAction("PadresComentario", "Comentario", new { id = Model.Id });}
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contenido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt>
            @Html.DisplayName("Respuestas")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hijos)
        </dd>

    </dl>

</div>
@Html.ActionLink("Create", "Create", new { id = Model.Id, comentario = true })
@{ Html.RenderAction("CreatePartial", "Comentario", new { p_usuario = Model.Autor, p_post = Model.Post });}
@{ Html.RenderAction("HijosComentario", "Comentario", new { id = Model.Id });}
