@model GoGaming.Models.ComentarioViewModel
@using PracticaDSMGenNHibernate.EN.DSMPracticas;

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int idUsuario = -1;

    if (Session["Usuario"] != null)
    {
        idUsuario = ((UsuarioEN)Session["Usuario"]).Id;
    }
}

@{ Html.RenderAction("DetailsPartial", "Post", new { id = Model.Post });}
<div>
    @{ Html.RenderAction("PadresComentario", "Comentario", new { id = Model.Id });}
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nameAutor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameAutor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contenido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt>
            @Html.DisplayName("Respuestas")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hijos)
        </dd>

    </dl>

</div>
    @{ Html.RenderAction("CreatePartial", "Comentario", new {p_post = Model.Post });}
    @if (Session["redir"] != null && (bool)Session["redir"])
    {
        <script>
            window.onload = function () {
                window.location = "Details/" + Model.Id;
            }</script>
    }
    @{ Html.RenderAction("HijosComentario", "Comentario", new { id = Model.Id });}
